
.nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #9E9E9E, 30%, #616161 );
    padding: .5rem;
    box-shadow: .1rem .1rem .1rem .1rem rgba(0, 0, 0, 0.2);
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
}

.nav__logo-img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.nav__logo-title {
    color: #FFFFFF;
    margin-left: 1rem;
}

.nav__menu-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: .5rem 0;
}

.nav__menu-top-ul {
    list-style: none;
    padding: .5rem;
    margin: 0 .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.nav__menu-top-ul:hover {
    background: linear-gradient(135deg, #F48FB1, #EC407A);
    filter: drop-shadow(0 0 1rem #325CFFAA);
}

.nav__menu-top-a {
    text-align: center;
    color: #FFFFFF;
}

.nav__menu-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
}

.nav__menu-bottom-ul {
    list-style: none;
    padding: .5rem;
    margin: 0 .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.nav__menu-bottom-ul:hover {
    background: linear-gradient(135deg, #64B5F6, #1E88E5);
    filter: drop-shadow(0 0 1rem #EC407A);
}

.nav__menu-bottom-a {
    text-align: center;
    color: #FFFFFF;
}